@page "/match/setup"
@using FluentValidation;

<MudContainer MaxWidth="MaxWidth.Small" Class="mt-6">
  <MudCard>
    <MudForm Model="@Setup" @ref="@_form" Validation="@Validator.ValidateValue" ValidationDelay="0">
      <MudCardContent>
		    <MudTextField @bind-Value="Setup.MemberOne"
		    					  For="@(() => Setup.MemberOne)"
                    Placeholder="00000000-0000-0000-0000-000000000000"
		    					  Immediate="true"
		    					  Label="Member One" />

		    <MudTextField @bind-Value="Setup.MemberTwo"
		    					  For="@(() => Setup.MemberTwo)"
                    Placeholder="00000000-0000-0000-0000-000000000000"
		    					  Immediate="true"
		    					  Label="Member Two" />

        <MudNumericField @bind-Value="Setup.MaxTurnTime"
                      For="@(() => Setup.MaxTurnTime)"
                      Label="Max Turntime"
                      Variant="Variant.Text"
                      Immediate="true"
                      Min="0"
                      Max="60"/>

        <MudCheckBox @bind-Checked="Setup.DrawByRepition"
                     For="@(() => Setup.DrawByRepition)"
                     Label="Draw by Repitition"
                     Disabled="true" />
      </MudCardContent>
    </MudForm>
    <MudCardActions>
      <MudButton Variant="Variant.Filled"
                 StartIcon="@Icons.Material.Filled.ArrowBack"
                 Color="Color.Secondary"
                 Class="ml-auto"
                 OnClick="(() => Back())">
          Back
      </MudButton>
      <MudButton Variant="Variant.Filled"
                 StartIcon="@Icons.Material.Filled.Save"
                 Color="Color.Primary"
                 Class="ml-1"
                 OnClick="(() => NavigateToBoard())">
        Start
      </MudButton>
    </MudCardActions>
  </MudCard>
</MudContainer>
<!-- <div class="card">
  <div class="card-body">
    <EditForm Model="Setup">
      <div class="mb-3 row">
        <label for="memberOne" class="col-sm-2 col-form-label">Member One</label>
        <div class="col-sm-10">
          <InputText id="memberOne" class="form-control" @bind-Value=Setup.MemberOne placeholder="00000000-0000-0000-0000-000000000000"/>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="memberTwo" class="col-sm-2 col-form-label">Member Two</label>
        <div class="col-sm-10">
          <InputText id="memberTwo" class="form-control" @bind-Value=Setup.MemberTwo placeholder="00000000-0000-0000-0000-000000000000"/>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="drawByRepition" class="col-sm-2 col-form-label">Turn Time</label>
        <div class="col-sm-10">
          <InputDate id="maxTurnTime" Type="InputDateType.Time" class="form-control" @bind-Value=Setup.MaxTurnTime />
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <InputCheckbox id="drawByRepition" readonly class="form-control-input" @bind-Value=Setup.DrawByRepition />
          <label class="form-check-label" for="defaultCheck1">
            Draw by Repitition
          </label>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary float-end" @onclick="(() => NavigateToBoard())">Start Match</button>
      </div>
    </EditForm>
  </div>
</div> -->